apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      securityContext:
        fsGroup: 33 # this is the www-data group id
        runAsUser: 33 # this is the www-data user id used by linkding container
        runAsGroup: 33 # this is the www-data group id
      volumes:
        - name: linkding-data
          persistentVolumeClaim:
            claimName: linkding-data-pvc
      containers:
        - name: linkding
          image: sissbruecker/linkding:1.44.1
          securityContext:
            allowPrivilegeEscalation: false
          ports:
            - containerPort: 9090
          volumeMounts:
            - mountPath: /etc/linkding/data
              name: linkding-data
          envFrom:
            - secretRef:
                name: linkding-container-env
          env:
            - name: LD_DB_ENGINE
              value: postgres
            - name: LD_DB_DATABASE
              valueFrom:
                secretKeyRef:
                  key: dbname
                  name: linkding-cluster-app
            - name: LD_DB_USER
              valueFrom:
                secretKeyRef:
                  key: user
                  name: linkding-cluster-app
            - name: LD_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: password
                  name: linkding-cluster-app
            - name: LD_DB_HOST
              valueFrom:
                secretKeyRef:
                  key: host
                  name: linkding-cluster-app
            - name: LD_DB_PORT
              valueFrom:
                secretKeyRef:
                  key: port
                  name: linkding-cluster-app
